form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    margin-top: 180px;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 300;
    background-color: green;
}

input {
    height: 40px;
    margin: 7px;
    background-color: rgba(255, 255, 255, 0.956);
    border-radius: 10px;
}

input:hover {
    background: rgb(21, 122, 33);
}

input[type=submit] {
    color: #000000;
    padding: 10px 0;
    margin: 7px 0;
}

input[type=reset] {
    color: #000000;
    padding: 10px 0;
    margin: 7px 0;
}

.logotextdiv,
.logoimagediv {
    display: none;
}