* {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#myform {
    max-width: 37%;
    margin: 80px auto;
    padding: 3% 0;
    background-color: #098526;
    border-radius: 8px;
    box-shadow: 0px 0px 15px #607D8B;
}

#myform h2 {
    padding-left: 30%;
    margin-bottom: 15px;
}

form label {
    padding-left: 40%;
}

form * {
    font-size: 20px;
    margin: 10px auto;
}

#myform input {
    width: 70%;
    padding: 15px;
    margin-left: 15%;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: rgb(244, 255, 244);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1ca83c;
}

.anchor {
    background-color: #cccccc00;
}

.content-admin {
    height: 100px;
}