* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#myForm {
    max-width: 400px;
    margin: 80px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.display-container {
    width: 100%;
    padding: 10px;
    padding-left: 111px;
}

input {
    cursor: pointer;
}

#myForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #d2bc13;
    cursor: pointer;
}