*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h1{
    width:25%;
    margin:auto;
    margin-top:25vh;
    padding:15px 7px 15px 7px;
    text-align: center;
    cursor:pointer;
    border-radius: 30px;
}

h1:hover{
    background-color: black;
    color:#ffffff;
}